astroid
boto3
botocore
certifi
chardet
Click
cycler
Distance
docutils
g2p-en
importlib-metadata
inflect
isort
jmespath
joblib
kiwisolver
matplotlib
mccabe
nltk
numpy
pyparsing
Pyphen
python-dateutil
python-Levenshtein
regex
requests
rope
s3transfer
sacremoses
scikit-learn
scipy
sentence-transformers
sentencepiece
six
textstat
torch
tqdm
transformers
typed-ast
urllib3
wrapt
zipp
pandas
scikit-learn
packaging
